# Data types

## Every value has a type
* whole numbers are integers (`int`)
* decimal numbers are (`float`)
* Character values are strings (`str`)
    * use single or double quotes, but be consistent
    * quotes don't display when you print
    
use the `type` function to find the type of a value

In [1]:
type(52)

int

In [2]:
fitness = 'average'
type(fitness)

str

# Exercise

**What type of value is 3.25 + 4?**

## Answer

In [3]:
type(3.25 + 4)

float

## Types determine what you do with the value
* not all operations can be performed on all types
* `+` works on strings and numbers
* `-` does not work on strings

In [4]:
2+2

4

In [5]:
full_name = 'Tobin'+' '+'Magle'
full_name

'Tobin Magle'

In [6]:
2-2

0

In [7]:
'hello'-'h'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### `*` also works on strings

In [8]:
separator = '=' * 10 
print(separator)

==========

## Strings have length, numbers don't

In [9]:
len(full_name)

11

In [10]:
len(52)

TypeError: object of type 'int' has no len()

## Converting types

If you want strings and numbers to work together, you have to convert them

In [11]:
print(1 + '2') # 1 is a number, 2 is a string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
print(1 + int('2')) # both integers

3

In [13]:
print(str(1)+'2')   # both strings

12

## Integers and floats mix because they are both numbers

In [14]:
print('half is', 1/2.0)

half is 0.5

In [15]:
print('three squared is', 3.0**2)

three squared is 9.0

# Exercise!

**What's wrong with the following code? How would you change it to print out the full date as 1981-05-18?**

```
day = 18
month = 05
year = 1981

print(year+'-'+month+'-'+day)
```